name: IBM_Auto_Restart

on:
  schedule:
    - cron: '10 21 * * FRI'
  workflow_dispatch:

jobs:
  IBM-Cloud-CF-APP-Restart:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Install CF CLI
      run: |
        curl -L "https://packages.cloudfoundry.org/stable?release=linux64-binary&source=github&version=v6" | tar -zx
        sudo mv cf /usr/local/bin
      
    - name: Login CF
      run: cf l -a https://api.${{ secrets.RGN }}.cf.cloud.ibm.com login -u ${{ secrets.MAIL }} -p ${{ secrets.PWD }}
      
    - name: Restart CF APP
      run: cf rs ${{ secrets.CFNAME }}
      
    - name: Notify To Telegram
      run: |
        echo "${GITHUB_WORKFLOW}"
        curl -s -o /dev/null -X POST https://api.telegram.org/bot${{ secrets.TG_BOT_TOKEN }}/sendMessage \
        -H "Content-Type: application/json" \
        --data '{"text": \""${GITHUB_WORKFLOW}"\","chat_id": "${{ secrets.TG_USER_ID }}"}'
